body {
  padding: 0;
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	position: relative;

	width: 1200px;
	margin: 0 auto;

	background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
}
/*_______Шапка сайта________*/
.main-header {
	background-color: #ffffff;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	z-index: 1;

	margin-left: -69px;
}

.main-points-of-menu {
	position: absolute;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 56px;
	width: 1200px;
	margin: 0;
	padding: 15px 73px;
	
	background-color: #fff;

	list-style: none;
}

.main-points-of-menu li:nth-child(3) {
	margin-left: auto;
}

.main-points-of-menu li:nth-child(1),
.main-points-of-menu li:nth-child(2) {
	text-align: left;
}

.main-points-of-menu li:nth-child(3),
.main-points-of-menu li:nth-child(4) {
	text-align: right;
}


.main-points-of-menu li:nth-child(3) {
	margin-left: auto;
}

.main-points-of-menu li:nth-child(1),
.main-points-of-menu li:nth-child(2) {
	text-align: left;
}

.main-points-of-menu li:nth-child(3),
.main-points-of-menu li:nth-child(4) {
	text-align: right;
}

.main-points-of-menu a {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 240px;
	vertical-align: middle;

	font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}


.main-points-of-menu a:hover {
	color: #81b3d2;
}

.main-points-of-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-points-of-menu .menu-chosen {
	color: #766357;
} 
/********Шапка сайта*********/
/*__________Главная картинка на главной___________*/
.main-container-img {
	width: 1200px;
	height: 564px;
	margin-bottom: 60px;

	background-size: 1200px 57px, cover;
	background-color: #81b3d2;
	background-image: url("../img/shape-for-background.png"), url("../img/background.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: bottom center, top center;
}

.main-container-img img {
	padding-top: 132px;
	padding-left: 371px;
}
/********Главная картинка на главной*********/
/*_________Форма на странице отелей_________*/
.request {
	width: 1200px;
	height: 274px;

	color: #fff;

	background-color: #99b9d0;
	background-size: cover; 
	background-image: url("../img/hotels-background.jpg");
	background-position: top center;
}

.request legend,
.day-value-form p {
	margin-bottom: 5px;

	font-size: 16px;
	line-height: 21px;
}

.request label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.hotels-searching-detailed {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 84px;
}

.infrastructure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 150px;
	margin-left: 73px;
	padding: 0;

	border: none;
}

.infrastructure label {
	margin-top: 15px;
	padding-left: 10px;
	vertical-align: middle;
}

.infrastructure label::before {
	content: "";
	position: relative;
	top: 0px;
	right: 14px;

	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.infrastructure input:checked + label::before {
	right: 12px;

	background-image: url("../img/checkbox-on.svg");
}

.type-of-accomodation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 150px;
	margin-left: 102px;
	padding: 0;

	border: none;
}

.type-of-accomodation label {
	margin-top: 15px;
	padding-left: 10px;
}

.type-of-accomodation label::before {
	content: "";
	position: relative;
	top: -1px;
	right: 14px;

	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.type-of-accomodation input:checked + label::before {
	right: 12px;

	background-image: url("../img/checkbox-on.svg");
}

.infrastructure input[type="checkbox"]:disabled:checked + label::before,
.type-of-accomodation input[type="checkbox"]:disabled:checked + label::before {
	background-image: url("../img/checkbox-on-disabled.svg");
}

.infrastructure input[type="checkbox"]:disabled:not(checked) + label::before,
.type-of-accomodation input[type="checkbox"]:disabled:not(checked) + label::before {
	background-image: url("../img/checkbox-off-disabled.svg");
}

.day-value-form {
	position: relative;
	top: -22px;
	left: 320px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 115px;
	width: 320px;

	border: none;
}

.day-value-form input[type="text"] {
	width: 30px;

	font-size: 14px;
	color: #fff;

	background-color: transparent;
	border: none;
	outline: 0;
}

.day-value {
	position: relative;
	width: 314px;
	height: 32px;
	margin-top: 10px;
	margin-bottom: 5px;

	border: 2px solid #fff;
	border-radius: 2px;
}

.center {
	display: inline-block;
	vertical-align: middle;
	width: 55px;
	margin-top: 0;
	margin-bottom: 0;

	text-align: center;
}

.center:nth-of-type(1) {
	margin-left: 63px;
	margin-right: 35px;
}

.center:nth-of-type(2) {
	margin-left: 48px;
	margin-right: 48px;
}

.center:nth-of-type(1)::after {
	content: "";
	position: absolute;
	top: 5px;
  left: 150px;

	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 20px;

	border: 1px solid #fff;
}

.indicator {
	position: relative;
	width: 318px;
}

.bar-on {
	width: 250px;

	border: 1px solid #fff;

	-webkit-transform: translateY(14px);

	    -ms-transform: translateY(14px);

	        transform: translateY(14px);
}

.left-pin {
	position: absolute;
}

.bar-off {
	width: 246px;

	border: 1px solid rgba(255, 255, 255, 0.3);

	-webkit-transform: translateY(12px) translateX(70px);

	    -ms-transform: translateY(12px) translateX(70px);

	        transform: translateY(12px) translateX(70px);
}

.right-pin {
	position: absolute;
	left: 250px;
}

.left-pin,
.right-pin {
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 22px;

	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	border: none;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

.left-pin:hover, 
.right-pin:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.searching-detailed {
	position: relative;
	top: -7px;
	left: 72px;

	display: inline-block;
	vertical-align: bottom;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	padding: 5px 34px;

	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	color: #fff;

	background-color: transparent;
	border: #fff solid 2px;
	border-radius: 2px;
	cursor: pointer;
}

.searching-detailed:hover {
  color: #000;

	background-color: #fff;
}
/************Форма на странице отелей**********/
/*________Преимущества на главной странице_________*/
.features .title {
	display: block;
	width: 445px;
	margin: 0 auto;
	margin-bottom: 27px;

	font-size: 21px;
	text-align: center;
	line-height: 26px;
}

.features .general {
	display: block;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 51px;
	text-align: center;

	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}

.features-list h2,
.features-list h3 {
	margin: 0;

	font-size: 21px;
	line-height: 21px;
}

.features-list p,
.features-list span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.features-list h2 {
	width: 151px;
	margin: 0 auto;
	padding-top: 7px;
	padding-bottom: 21px;

	text-align: center;
}

.feature-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.align {
	width: 400px;
	min-height: 256px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 40px;
	padding-left: 49px;
	padding-right: 49px;
	
	text-align: center;
}

.features-list .main-list-p {
	margin: 0;
	padding-top: 19px;
}

.blue-feature {
	position: relative;

	display: block;
	width: 100%;

	color: #fff;

	background-color: #81b3d2;
}

.grey-feature {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	min-height: 256px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 45px 69px 45px 69px;
	
	text-align: center;
	color: #333;

	background-color: #eee;
}

.grey-feature h2 {
	padding-top: 2px;
}

.common {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;

	background-color: #fff;
}

.common h3 {
	color: #000;
}

.common li {
	position: relative;

	display: inline-block;
	vertical-align: middle;
	width: 400px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	padding-top: 161px;
	padding-left: 50px;
	padding-right: 50px;

	text-align: center;
}

.features-list .insert-list-p {
	margin: 0;
	padding-top: 24px;
	padding-bottom: 82px;

	color: #333;
}


.accomodation::before {
	content: "";
	position: absolute;

	display: block;
	top: 60px;
	left: 162px;
	width: 75px;
	height: 72px;

	background-image: url("../img/accomodation.svg");
	background-repeat: no-repeat;
}

.food::before {
	content: "";
	position: absolute;
	top: 61px;
	left: 161px;

	display: block;
	width: 74px;
	height: 70px;

	background-image: url("../img/food.svg");
	background-repeat: no-repeat;
}

.souveniers::before {
	content: "";
	position: absolute;
	top: 56px;
	left: 168px;

	display: block;
	width: 64px;
	height: 76px;

	background-image: url("../img/souveniers.svg");
	background-repeat: no-repeat;
}
/**********Преимущества на главной странице*********/
/*_________Предложение на главной странице_________*/
.interested-detailed {
	position: relative;

	background-color: #fff;
}

.interested-detailed b {
	display: block;
	width: 300px;
	margin: 0 auto;
	padding-top: 50px;

	font-size: 30px;
	line-height: 36px;
}

.interested-detailed-p {
	display: block;
	width: 450px;
	margin: 0 auto;
	padding-top: 24px;

	text-align: center;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.interested-detailed .button {
	display: block;
	width: 568px;
	margin: 0 auto;
	margin-top: 47px; 
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	vertical-align: middle;

	font-size: 21px;
	line-height: 26px;
	color: #fff;

	background-color: #766357;
}

.interested-detailed .button:hover {
	background-color: #604e43;
}

.interested-detailed .button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}
/**********Предложение на главной странице********/
/*_________Сортировка на странице отелей__________*/
.response-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	margin-left: 73px;
	padding-top: 24px;
	padding-bottom: 20px;
}

.response-header b {
	display: inline-block;
	vertical-align: middle;
	padding-right: 48px;

	font-size: 21px;
	line-height: 26px;
}

.response-header a,
.response-header p {
	display: inline-block;
	vertical-align: middle;

	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sort {
	border-bottom:  #81b3d2 dotted 1px;
	color: rgba(0, 0, 0, 0.3);
}

.sort:nth-of-type(1) {
	margin-left: 40px;
}

.sort:nth-of-type(2) {
	margin-left: 30px;
}

.sort:nth-of-type(3) {
	margin-left: 33px;
}

.sort.chosen {
	color: #81b3d2;
	border-bottom: none;
}

.sort:hover {
	color: #81b3d2;
}

.sort:active {
	color: #000;
}

.high {
	margin-left: auto;

	border-width: 0px 5px 10px 6px;
	border-color: #cacaca;
	border-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
}

.low {
	margin-right: 73px;
	margin-left: 12px;

	border-width: 10px 5px 0px 6px;
	border-color: #cacaca;
	border-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
}

.high.chosen {
	border-bottom-color: #81b3d2;
}

.low.chosen {
	border-top-color: #81b3d2;
}

.high:hover {
	border-bottom-color: #231f20;
}

.high:active {
	border-bottom-color: #81b3d2;
}

.low:hover {
	border-top-color: #231f20;
}

.low:active {
	border-top-color: #81b3d2;
}
/**********Сортировка на странице отелей*********/
/*_________Отели на странице отелей__________*/
.response-main {
	margin: 0;
	padding: 0;

	list-style: none;
}

.response-main > li {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 72px;
	padding-right: 73px;

	border-top: 1px solid #e5e5e5;
}

.response-main img {
	position: absolute;
}

.block {
	position: relative;

	display: block;
	width: 890px;
	margin-left: 166px;
}

.mini-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 260px;
}

.response-main > li:last-of-type {
	border-bottom: 1px solid #e5e5e5;
}

.response-main h2 {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: -7px;
	margin-top: -5px;
	padding-right: 30px;

	font-size: 21px;
	line-height: 26px;
}

.response-main .type,
.response-main span {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333;
}

.response-main .type {
	padding-right: 20px;
}

.response-main span {
	padding-right: 77px;
	margin-left: auto;
}

.response-main .variant {
	color: #000;
}

.response-main .variant:hover {
	color: #81b3d2;
}

.response-main .variant:active {
	color: #b2b2b2;
}

.rating-stars {
	position: absolute;
	top: -2px;
	right: -2px;

	display: inline-block;
	vertical-align: middle;
	height: 18px;
	margin: 0;
	padding: 0;

	list-style: none;
} 

.rating-stars li {
	display: inline-block;
	vertical-align: top;
	width: 18px;
	height: 17px;
	padding-left: 2px;

	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
}


.detailed {
	display: inline-block;
	vertical-align: middle;
	margin-top: -1px;
	padding: 3px 17px;

	font-size: 14px;
	line-height: 21px;
	color: #fff;

	background-color: #81b3d2;
}

.detailed:hover {
	background-color: #669ec0;
}

.detailed:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.book {
	display: inline-block;
	vertical-align: middle;
	margin-left: auto;
	margin-top: -1px;
	padding: 3px 17px;

	font-size: 14px;
	line-height: 21px;
	color: #fff;

  background-color: #766357;
}

.book:hover {
	background-color: #604e43;
}

.book:active {
	color: rgba(255, 255, 255, 0.3); 

	background-color: #503e33;
}

.rating {
	position: absolute;
	right: 0;
	bottom: -15px;

	display: inline-block;
	vertical-align: middle;
	padding: 3px 13px 3px 15px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666;

	background-color: #f2f2f2;
}
/**************Отели на странице отелей**********/
/*_________Подвал сайта_________*/
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 1200px;
	padding: 37px 0;

	background-color: rgba(254, 254, 254, 0.9);
}

.cover {
	position: absolute;
	bottom: 7px;
	left: 0;
}

.hashtag {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0px 12px 0px 12px;

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 400px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0 5px;
	
	list-style-type: none;
}

.footer-social li,
.footer-social a {
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	height: 48px;
}

.footer-social li {
	margin-right: 3px;
	margin-left: 3px;

	background-color: #81b3d2;
}

.footer-social a {
	background-repeat: no-repeat;
	background-position: center;
}

.footer-social .twitter {
	background-image: url("../img/twitter.svg");
	background-size: 17px 15px;
}

.footer-social .facebook {
	background-image: url("../img/facebook.svg");
	background-size: 12px 22px;
}

.footer-social .youtube {
	background-image: url("../img/youtube.svg");
	background-size: 20px 16px;
}

.footer-social li:first-of-type {
	margin-left: auto;
	margin-right: 3px;
}

.footer-social li:last-of-type {
	margin-right: auto;
	margin-left: 3px;
}

.footer-social li:hover {
	background-color: #669ec0;
}

.footer-social li:active {
	background-color: #5496bd;
}

.footer-social a:active {
	opacity: 0.3;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 400px;
	margin: 0;
	padding: 0 10px 0 12px;

	font-weight: 400;
}

.copyright {
	margin-left: auto;
}

.logo-html {
	margin-right: auto;
}

.academy-logo {
	display: block;
	padding-top: 1px;
	padding-left: 8px;

	fill: #000;
}

.academy-logo:hover {
	fill: #81b3d2;
}

.academy-logo:active {
	fill: #bdbbbc;
}
/**********Подвал сайта***********/
/*_______Окно формы__________*/
.modal {
	position: absolute;
	left: 316px;

	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 568px;
	padding: 55px 55px 55px 56px;

	background-color: #fff;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
	        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.hotels-searching-date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
}

.hotels-searching-date p {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	margin-bottom: 29px;
}

.hotels-searching-date > p:nth-child(1),
.hotels-searching-date > p:nth-child(2),
.search-button {
	width: 100%;
}

.hotels-searching-date label {
	display: inline-block;
	vertical-align: middle;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.modal input[type="text"] {
	margin-left: auto;
	border: none;

	font-weight: 700;
	color: #000;

	background-color: #f2f2f2;
}

.modal input[type="text"]:hover {
	background-color: #ebebeb;
}

.modal input[type="text"]:focus {
	outline: #e5e5e5 solid 2px;

	background-color: #fff;
}

.arrival-date,
.departure-date {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 346px;
	margin-right: 0px;
	padding: 11px;
	padding-left: 13px;
}

.arrival-date + .calendar,
.departure-date + .calendar {
	position: absolute;
	right: 9px;
	top: 8px;
}

.calendar {
	fill: #a9a9a9;
}

.calendar:hover {
	fill: #000;
}

.calendar:active {
	fill: #81b3d2;
}

.count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.count .adults {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 224px; 
	margin-top: 1px;
}

.count .children {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 224px;
	margin-left: auto;
	margin-top: 1px;
}

.adult-amount,
.children-amount {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 76px;
	height: 38px;
	margin-left: auto;
	padding: 12px 0 10px 15px;
}

.count input[type="text"]:hover {
	background-color: #f2f2f2;
}

.count input[type="text"]:focus,
.count input[type="text"]:active {
	background-color: #f2f2f2;
}

.children label {
	padding-left: 45px;
}

.adult-minus,
.child-minus {
	position: absolute;
	left: 110px;
	top: 0;

	width: 38px;
	height: 38px;
	padding: 0;

	border: none;
	background-color: #f2f2f2;
	cursor: pointer;
	outline: 0;
}

.adult-minus::before,
.child-minus::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 15px;

	display: block;
	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
}

.adult-plus,
.child-plus {
	position: absolute;
	right: 0px;
	top: 0;

	width: 38px;
	height: 38px;
	padding: 0;

	border: none;
	background-color: #f2f2f2;
	cursor: pointer;
	outline: 0;
}

.adult-plus::before,
.child-plus::before {
	content: "";
	position: absolute;
	left: 15px;
	top: 18px;

	display: block;
	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
}

.adult-plus::after,
.child-plus::after {
	content: "";
	position: absolute;
	left: 15px;
	top: 18px;

	display: block;
	width: 12px;
	height: 3px;

	background-color: #a9a9a9;

	-webkit-transform: rotate(90deg);

	    -ms-transform: rotate(90deg);

	        transform: rotate(90deg);
}

.adult-minus:hover::before,
.child-minus:hover::before,
.adult-plus:hover::before,
.child-plus:hover::before,
.adult-plus:hover::after,
.child-plus:hover::after {
	background-color: #000;
}

.adult-minus:active::before,
.child-minus:active::before,
.adult-plus:active::before,
.child-plus:active::before,
.adult-plus:active::after,
.child-plus:active::after {
	background-color: #81b3d2;
}

.search-button {
	margin-top: 25px;
	padding-top: 17px;
	padding-bottom: 17px;

	font-size: 21px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;

	background-color: #81b3d2;
	border: none;
	cursor: pointer;
}

.search-button:hover {
	background-color: #669ec0;
}

.search-button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
/**********Окно формы***********/