body {
  padding: 0;
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-header {
	background-color: #ffffff;
}

.main-header a {
	color: #000;
}

.main-header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-points-of-menu {
	display: flex;
}

.main-points-of-menu a:hover {
	color: #81b3d2;
}

.main-points-of-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.menu-chosen {
	color: #766357;
} 

.main-container-img {
	margin-bottom: 61px;
	width: 1200px;
	height: 564px;
	background-size: 1200px 57px, cover;
	background-color: #81b3d2;
	background-image: url("../img/shape-for-background.png"), url("../img/background.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: bottom center, top center;
}

.main-container-img img {
	padding-top: 131px;
	padding-left: 371px;
}

.general {
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}

.request {
	width: 1200px;
	height: 274px;
	background-color: #99b9d0;
	background-size: cover; 
	background-image: url("../img/hotels-background.jpg");
	background-position: top center;
	color: #fff;
}

.request legend,
.day-value-form p {
	font-size: 16px;
	line-height: 21px;
}

.request label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.request input[type="submit"] {
	background-color: transparent;
	border: #fff solid 2px;
	color: #fff;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
}

.features .title {
	font-size: 21px;
	line-height: 26px;
}

.features-list h2,
.features-list h3 {
	font-size: 21px;
	line-height: 21px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 56px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.features-list p,
.features-list span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.blue-feature {
	background-color: #81b3d2;
	color: #fff;
}

.white-feature {
	background-color: #eee;
	color: #333;
}

.common {
	background-color: #fff;
}

.common p {
	color: #333;
}

.common h3 {
	color: #000;
}

.interested {
	font-size: 30px;
	line-height: 36px;
}

.interested-detailed {
	background-color: #fff;
}

.interested-detailed p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.hotels-searching-detailed {
	display: flex;
}

.response-header b {
	font-size: 21px;
	line-height: 26px;
}

.response-header a,
.response-header p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.detailed {
	background-color: #81b3d2;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}

.detailed:hover {
	background-color: #669ec0;
}

.detailed:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.book {
  background-color: #766357;
  font-size: 14px;
	line-height: 21px;
	color: #fff;
}

.book:hover {
	background-color: #604e43;
}

.book:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.sort {
	color: rgba(0, 0, 0, 0.3);
	border-bottom:  #81b3d2 dotted 1px;
}

.sort.chosen {
	color: #81b3d2;
	border-bottom: none;
}

.sort:hover {
	color: #81b3d2;
}

.sort:active {
	color: #000;
}

.response-main {
	list-style: none;
}

.response-main h2 {
	font-size: 21px;
	line-height: 26px;
}

.response-main .variant {
	color: #000;
}

.response-main .variant:hover {
	color: #81b3d2;
}

.response-main .variant:active {
	color: #b2b2b2;
}

.response-main .type,
.response-main span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333;
}

.rating-stars {
	list-style: none;
} 

.rating-stars li {
	background-image: url("../img/star.svg");
}

.response-main .rating {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	background-color: #f2f2f2;
	color: #666;
}

.button {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background-color: #766357;
	color: #fff;
	font-size: 21px;
	line-height: 26px;
}

.button:hover {
	background-color: #604e43;
}

.button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.search-button {
	background-color: #81b3d2;
	border: none;
	color: #fff;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: 700;
}

.search-button:hover {
	background-color: #669ec0;
}

.search-button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

footer {
	display: flex;
	padding: 37px 73px;
	background-color: rgba(254, 254, 254, 0.9);
}

.hashtag {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	width: 240px;
}

.footer-social {
	width: 400px;
	margin-left: 88px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.footer-social li {
	background-color: #81b3d2;
}

.footer-social a {
	background-repeat: no-repeat;
	background-size: 17px 15px;
}

.footer-social .twitter {
	background-image: url("../img/twitter.svg");
}

.footer-social .facebook {
	background-image: url("../img/facebook.svg");
}

.footer-social .youtube {
	background-image: url("../img/youtube.svg");
}

.footer-social a:active {
	opacity: 0.3;
}

.footer-social li:hover {
	background-color: #669ec0;
}

.footer-social li:active {
	background-color: #5496bd;
}

.footer-copyright {
	width: 241px;
	margin-left: auto;
}

.academy-logo {
	fill: #000;
}

.academy-logo:hover {
	fill: #81b3d2;
}

.academy-logo:active {
	fill: #bdbbbc;
}

.modal input[type="text"] {
	background-color: #f2f2f2;
	border: none;
}

.modal input[type="text"]:hover {
	background-color: #ebebeb;
}

.modal input[type="text"]:focus {
	background-color: #fff;
	border: #e5e5e5 solid 2px;
}

.calendar {
	fill: #cacaca;
}

.calendar:hover {
	fill: #000;
}

.calendar:active {
	fill: #81b3d2;
}